*{
    margin: 0;
    padding: 0;
}
.headerWrapper {
    width: 100%;
    height: 80px;
    /*background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 11%, rgba(174,231,255,1) 56%, rgba(255,255,255,1) 91%);*/
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(174,231,255,1) 55%, rgba(255,255,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContainer img {
    height: 86px;
    width: 86px;
}
