.wrapperHome {
    width: 100%;
    height: calc(100vh - 80px);
    background: #eee;
    position: relative;

}

.searchArea {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-top: 5rem;
    gap: 8px;
}

.searchArea label {
    color: teal;
    font-weight: 600;
    font-family: Helvetica, sans-serif, Arial;
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
}

.searchArea input { 
    display: block;
    margin-top: 1rem;
    height: 48px;
    width: 400px;
    border-radius: 8px;
    outline: none;
    border: none;
    padding-left: 10px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4) ;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.searchArea input:hover, input:focus {
    border: 1px solid teal;
}

.btn {
    height: 48px;
    width: 6rem;
    border: none;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4) ;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background: rgb(212, 39, 33);
    color: white;
    border-radius: 8px;
    outline: none;
    border: none;
}

.examContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.examList {
    width: 390px;
    top: 160px;
    padding: 10px 2px;
    margin-right: 6.6rem;
    border-radius: 0px 0px 8px 8px;
    background: white;
    border: 1px solid teal;
    border-top: 0px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4) ;
    z-index: 1;
    position: absolute;
}

.examList li {
    list-style: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 4px;
    cursor: pointer;
}


.resultExames {
    width: 200px;
    margin-top: 2px;
    margin-left: 4px;
    padding: 4px 2px;
    border-radius: 8px;
    background: white;
    border: 1px solid teal;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
    position: relative;
}
.separator {
    margin: 4rem 0;
}

/*.resultExames p{
    display: none;
}*/

.lixo {
    position: relative;
}

.iconLixo {
    position: absolute;
    height: 18px;
    width: 18px;
    right: 4px;
    bottom: 1px;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(252, 3, 3, 0.2);
}

.titleList {
    color: black;
    font-family: Helvetica, sans-serif, Arial;
    margin-left: 12px;
    margin-bottom: 12px;
}
