@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
* {
    scrollbar-width: thin;
    scrollbar-color: teal #eee;
  }
    *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(126, 170, 170);
    border-radius: 20px;
    border: 3px solid #eee;
  }

.wrapperHome {
    width: 100%;
    height: calc(100vh - 80px);
    background: white;
    position: relative;
}

.titleH1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    font-size: 1.2rem;
    position: absolute;
}

.titleH1 h1 {
    background-image: linear-gradient(0deg, rgba(24,160,163,1) 51%, rgba(9,247,231,1) 94%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    font-family: Poppins, Arial;
    font-weight: 600;

}

.searchArea {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: end;
    padding-top: 5rem;
    gap: 8px;
    width: 100%;
}
.materialPD {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 26px;
    gap: 32px;
    margin-top: 8px;
}
.materialPD div {
    height: 100%;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.materialPD p {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    color: teal;
    display: inline-block;
    margin-right: 4px;
}

.materialPD input {
    max-width: 14px;
    max-height: 14px;
    cursor: pointer;
}

.materialPD input {
   width: 20px;
   height: 20px;
}
.btnOpenModal {
    width: 14px;
    height: 14px;
    background: teal;
    border-radius: 50%;
    outline: none;
    border: none;
    margin-left: 4px;
    cursor: pointer;
}
.materialPD div:nth-child(2) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapperSearch {
    width: 500px;
    height: 60px;
    margin-top: 40px;
    background: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4) ;
    z-index: 10;   
}

.searchArea input { 
    height: 60px;
    width: 500px;
    outline: white;
    border: none;
    border-radius: 12px;
    padding-left: 50px;
    font-weight: 500;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
}

.wrapperArea input:hover, input:focus {
    border: 1px solid teal;
}

.btn {
    height: 50px;
    width: 60px;
    border: none;
    border-radius: 0 8px 8px 0;
    font-weight: 600;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: white;
    color: white;
    position: absolute;
    right: 1px;
    top: 0;
    margin-top: 6px;
    z-index: 1;
    cursor: pointer;
}

.examContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.examList {
    width: 500px;
    top: 170px;
    padding: 20px 0 0 10px;
    border-radius: 0px 0px 8px 8px;
    box-sizing: border-box;
    background: #eee;
    border: 1px solid teal;
    border-top: 0px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4) ;
    z-index: 1;
    position: absolute;
    max-height: 250px;
    overflow-y: auto;   
    scroll-behavior: smooth;
}

.examList li {
    list-style: none;
    color: rgb(66, 66, 66);
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 4px;
    cursor: pointer;
}

.examList li:hover {
    background: rgb(21, 134, 136);
    border-radius: 8px;
    padding: 2px;
    transition: .5s;
    color: white;
}
.examList li:focus {
    background: rgb(21, 134, 136);
    border-radius: 8px;
    padding: 2px;
    transition: .5s;
    color: white;
}
.resultExames {
    width: 240px;
    margin-top: 4px;
    margin-left: 4px;
    padding: 4px 4px;
    border-radius: 8px;
    font-family: Popins, sans-serif;
    font-weight: 500;
    color: rgba(0, 49, 49, 0.973);
    font-size: 14px;
    background: white;
    border: 1px solid ;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 10;
}
.resultExames li {
    list-style: none;
}
.separator {
    margin: 4rem 0;
}

.lixo {
    position: relative;
}

.iconLixo {
    position: absolute;
    height: 18px;
    width: 18px;
    right: 4px;
    bottom: 1px;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(252, 3, 3, 0.2);
}

.titleList {
    color: teal;
    font-weight: 600;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    margin-left: 12px;
    margin-bottom: 12px;
}

.containerListExams {
    width: 250px;
    height: max-content;
}

 .containerInfoExams {
  color: teal;
  margin: 1rem 0 0 .5rem;
}
.containerInfoExams p {
    padding-bottom: 4px;
    font-size: 0.875rem;
}
.containerInfoExams a:visited {
    color: rgb(0, 75, 75);
}


.loupe {
    color: transparent;
    position: absolute;
    left: 10px;
    height: 22px;
    width: 22px;
}
.openExam {
    height: 20px;
    position: absolute;
    top: 5px;
    right: 30px;
    cursor: pointer;
}
.openExam img {
    width: 20px;
    height: 20px;
}

.dynamicPlans {
    position: absolute;
    width: 200px;
    height: 1.5rem;
    display: flex;
    gap: 1rem;
    background: teal;
    left: 240px;
    top: 2px;
    padding: 2px;
    border-radius: 4px 50px 50px 4px;
    transition: 1s ease-out;
}

.dynamicPlans button {
    color: white;
    cursor: pointer;
    border: none;
    background: none;
}

.dynamicPlans button:hover, button:focus {
    color: orange;    
}
.activeButtonPlan {
    color: rgb(168, 109, 0);
}


@media (max-width: 950px) {
    .searchArea {
       justify-content: start;
       padding-left: 20px;
    }    
    .examContainer {
        justify-content: start;
        padding-left: 20px;
    }
    .titleH1 {
       justify-content: start;
       padding-left: 40px;
    } 
    .wrapperSearch, .searchArea input {
        width: 400px;
    }    
    .examList {
        width: 400px;
        height: max-content;
        max-height: 160px;
    }
    .materialPD {
        justify-content: start;
        padding-left: 20px;
    }
    .separator {
        margin: 8rem 0;
    }
    .containerInfoExams {
        width: 220px;
        height: 200px;
        left: 270px;
    }    
}

@media (max-width: 650px) {
    .searchArea {
        justify-content: center;
        padding-top: 3rem;
        padding-left: 0px;
     }   
     .titleH1 {
        justify-content: center;
        padding-left: 1rem;
        font-size: 1rem;
        height: 96px;
     } 
     .examContainer {
        justify-content: center;
        padding-left: 0px;
     }
     
     .materialPD {
        justify-content: center;
    }
    .examList {
        top: 140px;
        width: 300px;
    }
   .wrapperSearch, .searchArea input {
        width: 300px;
    }    
    .containerInfoExams {
     display: none;
    }  
    .materialPD {
    justify-content: space-evenly;
    gap: 8px;
    margin-top: 8px;
    padding-left: 0px;
    }

}

 .modalWrapperClose {
    display: none;
}

.modalWrapper {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 110;
    position: absolute;
    top: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalContainer {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: max-content;
    background: #eee;
    border-radius: 6px;
    box-shadow: 1px 1px 6px 1px rgba(73, 73, 73, 0.8);
    position: relative;
}
.titleModal {
    text-align: center;
    margin: 10px 0 20px 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: teal;
}
.closeModal {
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 1.5rem;
    cursor: pointer;
}
.closeModal img {
    width: 30px;
    height: 30px;
}

.modalListExam {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.modalListExam li {
    list-style: none;
    display: flex;
    padding: 2px 10px;
    font-size: 1rem;
    font-weight: 600;
    color: gray;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.1);
}
.modalListExam li:nth-child(4)  {
    display: block;
}
.modalListExam li:nth-child(6)  {
    display: block;
    margin-bottom: 1rem;
}

.modalListExam p {
    padding: 0px 4px;
    margin: 0 0 0 4px;
    font-weight: 500;
    color: teal;
}