@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

.wrapperHome {
    width: 100%;
    height: calc(100vh - 80px);
    background: white;
    position: relative;
}

.titleH1 {
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    font-size: 1.2rem;
    position: absolute;
}

.titleH1 h1 {
    background-image:  linear-gradient(0deg, rgba(24,160,163,1) 51%, rgba(9,247,231,1) 94%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    font-family: Poppins, Arial;
    font-weight: 600;
}

.searchArea {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: end;
    padding-top: 5rem;
    gap: 8px;
    width: 100%;
}

.wrapperSearch {
    width: 500px;
    height: 60px;
    background: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4) ;
    z-index: 10;   
}

.searchArea input { 
    height: 60px;
    width: 500px;
    outline: none;
    border: none;
    border-radius: 12px;
    padding-left: 50px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.wrapperArea input:hover, input:focus {
    border: 1px solid teal;
}

.btn {
    height: 50px;
    width: 60px;
    border: none;
    border-radius: 0 8px 8px 0;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: white;
    color: white;
    position: absolute;
    right: 0;
    z-index: 1;
    cursor: pointer;
}

.examContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.examList {
    width: 500px;
    top: 130px;
    padding: 20px 0 0 50px;
    border-radius: 0px 0px 8px 8px;
    box-sizing: border-box;
    background: white;
    border: 1px solid teal;
    border-top: 0px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4) ;
    z-index: 1;
    position: absolute;
}

.examList li {
    list-style: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 4px;
    cursor: pointer;
}


.resultExames {
    width: 200px;
    margin-top: 2px;
    margin-left: 4px;
    padding: 4px 2px;
    border-radius: 8px;
    background: white;
    border: 1px solid teal;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
    position: relative;
}
.separator {
    margin: 4rem 0;
}

.lixo {
    position: relative;
}

.iconLixo {
    position: absolute;
    height: 18px;
    width: 18px;
    right: 4px;
    bottom: 1px;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(252, 3, 3, 0.2);
}

.titleList {
    color: teal;
    font-weight: 600;
    font-family: Roboto;
    margin-left: 12px;
    margin-bottom: 12px;
}

.containerListExams {
    width: 250px;
    height: 310px;

}

.containerInfoExams {
    width: 250px;
    height: 310px;
    position: absolute;
    bottom: 0;
    left: 250px;
    max-height: fit-content;
    font-size: 1rem;
    color: teal;
    box-sizing: border-box;
    font-weight: 500;
}

.containerInfoExams p {
    padding-bottom: 20px;
}

.loupe {
    color: transparent;
    position: absolute;
    left: 10px;
    height: 22px;
    width: 22px;
}
